* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Gwent';
    src: url('ui/font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url('ui/fon.jpg') no-repeat center center fixed;
    background-size: cover; 
    height: 100vh;
    overflow: hidden;
    font-family: 'Gwent', sans-serif; 
    color: #fff; 
    cursor: url('ui/cursor.png'), auto; 
}

* {
    scrollbar-width: none;
}
	
.start-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 7vh;
    position: relative;
}

.logo {
    width: 400px;
    margin-bottom: 70px; 
    filter: drop-shadow(0 0 15px rgba(255, 215, 0, 0.3)); 
}

.main-menu-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 10;
}

.menu-btn {
    background: linear-gradient(145deg, #2a2a2a, #1a1a1a);
    color: #d4af37;
    border: 1px solid #d4af37; 
    padding: 10px;
    font-size: 21px;
    font-family: 'Gwent', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px; 
    cursor: url('ui/cursor_hover.png'), pointer;
    transition: all 0.3s ease; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(212, 175, 55, 0.5);
    position: relative;
    overflow: hidden;
    width: 200px;
}

.menu-btn:hover {
    scale: 1.05;
    box-shadow: 0 0 25px rgba(212, 175, 55, 0.5);
}

.menu-btn:hover::before {
    left: 100%;
}

.menu-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 215, 0, 0.2), transparent);
    transition: left 0.5s ease;
}

.menu-btn:active {
    transform: scale(1.1);   
}

@keyframes fadeOutUp {
	from { 
		opacity: 1; 
		transform: translateY(0); 
	}
	to { 
		opacity: 0; 
		transform: translateY(-50px); 
	}
}

@keyframes fadeOutUp {
	from { 
		opacity: 1; 
		transform: translateY(0); 
	}
	to { 
		opacity: 0; 
		transform: translateY(-50px); 
	}
}
    
@keyframes fadeOutDown {
	from { 
		opacity: 1; 
		transform: translateY(0); 
	}
	to { 
		opacity: 0; 
		transform: translateY(50px); 
	}
}
    
@keyframes fadeInUp {
	from { 
		opacity: 0; 
		transform: translateY(30px); 
	}
	to { 
		opacity: 1; 
		transform: translateY(0); 
	}
}
    
@keyframes fadeInDown {
	from { 
		opacity: 0; 
		transform: translateY(-30px); 
	}
	to { 
		opacity: 1; 
		transform: translateY(0); 
	}
}
    
.main-menu-buttons {
	animation: fadeInUp 0.8s ease;
}
    
.logo {
	animation: fadeInDown 0.8s ease;
}