.settings-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;                  
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
	backdrop-filter: blur(5px);
}

.settings-modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.settings-modal {
    background: url('../ui/fon.jpg') no-repeat center center fixed;
    border: 2px solid #d4af37;
    border-radius: 10px;
    padding: 15px;                 
    max-width: 400px;              
    width: 100%;
    transform: scale(0.9);
    opacity: 0;
    transition: all 0.3s ease;
}

.settings-modal-overlay.active .settings-modal {
    transform: scale(1);
    opacity: 1;
}

.settings-modal__title {
    color: #d4af37;                
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 10px rgba(212, 175, 55, 0.4);
}

.settings-title {
    color: #d4af37;                
    font-size: 18px;
    text-shadow: 0 0 10px rgba(212, 175, 55, 0.4);
}

.settings-controls {
    display: flex;
    flex-direction: column;
    gap: 10px;                     
}

.settings-control {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 8px;
    background: rgba(10, 10, 10, 0.5); 
    border-radius: 5px;
    border-left: 2px solid #d4af37; 
}

.settings-control__label {
    color: #ccc;
    font-size: 16px;
}

.settings-control__buttons {
    display: flex;
    gap: 10px;                      
}

.settings-control__btn {
    background: rgba(10, 10, 10, 0.4); 
    border: 1px solid #333;         
    border-radius: 50%;            
    width: 40px;                 
    height: 40px;
    font-size: 20px;               
    cursor: url('../ui/cursor_hover.png'), pointer !important; 
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-control__btn.active {
    border-color: #d4af37;        
    color: #d4af37;              
    box-shadow: 0 0 10px rgba(212, 175, 55, 0.5); 
}

.settings-control__btn:hover {
    transform: scale(1.1);          
    border-color: #d4af37;         
    color: #d4af37;              
}

.settings-select {
    cursor: url('../ui/cursor_hover.png'), pointer !important; 
    background: rgba(10, 10, 10, 0.8);
    color: white;
    border: 1px solid #d4af37;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 13px;
    font-family: inherit;
    min-width: 150px;
}

.settings-select:focus {
    outline: none;
    border-color: #ffd700;
    box-shadow: 0 0 5px rgba(255, 215, 0, 0.5);
}

.settings-control__buttons .settings-select {
    margin: 0;
}