.faction-selection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease;
    z-index: 1000;
}

.faction-selection__title {
    font-size: 35px;
    margin-bottom: 45px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #d4af37;        
    text-shadow: 0 0 10px rgba(212, 175, 55, 0.4);
}

.faction-selection__container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.faction-card {
    position: relative;
    width: 130px;
    height: 110px;
    transition: all 0.4s ease;
    overflow: hidden;
}

.faction-card:hover {
    transform: scale(1.25);
}

.faction-card--selected {
    transform: scale(1.25);
}

.faction-card__logo {
    width: 70%;
    height: 70%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    cursor: url('../ui/cursor_hover.png'), pointer;
}

.faction-card:hover .faction-card__logo {
    filter: drop-shadow(0 0 8px rgba(212, 175, 55, 0.5));
}

.faction-card--selected .faction-card__logo {
    filter: drop-shadow(0 0 8px rgba(212, 175, 55, 0.5));
}

.faction-description {
    width: 720px;
    min-height: 120px;
    padding: 20px;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
    text-align: center;
}

.faction-description__name {
    font-size: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #d4af37;        
    text-shadow: 0 0 10px rgba(212, 175, 55, 0.4);
}

.faction-description__text {
    font-size: 17px;
    color: #ccc;
    line-height: 1.4;
	font-style: italic;
}

.confirm-btn {
    background: linear-gradient(145deg, #2a2a2a, #1a1a1a);
    color: #d4af37;
    border: 1px solid #d4af37;
    padding: 10px 30px;
    font-size: 20px;
    font-family: 'Gwent', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: url('../ui/cursor_hover.png'), pointer;
    transition: all 0.3s ease;
    border-radius: 5px; 
    box-shadow: 0 0 15px rgba(212, 175, 55, 0.5);
    opacity: 0;
    transform: translateY(30px);
    pointer-events: none;
    overflow: hidden;
    position: relative;
}

.confirm-btn:hover {
    scale: 1.05;
    box-shadow: 0 0 25px rgba(212, 175, 55, 0.5);
}

.confirm-btn:active {
    box-shadow: 0 0 10px rgba(212, 175, 55, 0.5);
}

.confirm-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 215, 0, 0.2), transparent);
    transition: left 0.5s ease;
}

.confirm-btn:hover::before {
    left: 100%;
}