.rules-page {
    position: fixed;              
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../ui/fon.jpg') no-repeat center center fixed;
    background-size: cover;
    display: none;               
    flex-direction: column;
    align-items: center;
    z-index: 2000;                  
}

.rules-page.active {
    display: flex;               
}

.rules-title {
    font-size: 40px;            
    margin-bottom: 30px;        
    margin-top: 45px;         
    text-transform: uppercase;
    letter-spacing: 3px;          
    color: #d4af37;     
    text-shadow: 0 0 10px rgba(212, 175, 55, 0.4);
}

.rules-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 10px;                      
    max-width: 1400px;         
    width: 100%;            
}

.rule-card {
    border: 1px solid #333;      
    border-radius: 5px;          
    padding: 15px;                  
    cursor: url('../ui/cursor_hover.png'), pointer; 
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;              
}

.rule-card:hover {
    transform: translateY(-5px);   
    border-color: #d4af37;         
    box-shadow: 0 5px 20px rgba(212, 175, 55, 0.3); 
}

.rule-card__title {
    color: #d4af37;   
    font-size: 20px;
    margin-bottom:8px;          
    text-transform: uppercase;
}

.rule-card__description {
    color: #ccc;                   
    font-size: 14px;
    line-height: 1.3;  
	font-style: italic;            
}

.rule-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3000;                 
    opacity: 0;                    
    visibility: hidden;            
    transition: all 0.3s ease;    
}

.rule-modal-overlay.active {
    opacity: 1;                     
    visibility: visible;           
}

.rule-modal {
    background: url('../ui/fon.jpg') no-repeat center center fixed;
    border: 2px solid #d4af37;      
    border-radius: 10px;           
    padding: 30px;                 
    max-width: 800px;              
    width: 95%;                     
    max-height: 90vh;             
    overflow-y: auto;               
    transform: scale(0.9);          
    opacity: 0;                   
    transition: all 0.3s ease;
    position: relative;
}

.rule-modal-overlay.active .rule-modal {
    transform: scale(1);            
    opacity: 1;                     
}

.rule-modal__title {
    color: #d4af37;       
    text-shadow: 0 0 10px rgba(212, 175, 55, 0.4);
    font-size: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center;             
}

.rule-modal__content {
    color: #ccc;
    font-size: 15px;
    line-height: 1.4;  
	font-style: italic;           
}

.rule-modal__content h3 {
    color: #d4af37;                
    font-size: 18px;
	font-style: normal;              
}

.bloc-rule {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;                      
    padding-bottom: 15px;           
}

.rule-modal__image {
    height: 80px;                   
}